/* HEADER */

   .header-class {
    margin: none;
    font-family: sans-serif;
    background: white;
    padding: 0;
    display: flex;
    max-height: 78px;   
     
    
}

.logo {
    width:23% ;
    min-width:180px;
    padding-left: 0.5%;
    background: transparent;
    padding-top: px;
}
    
.logo:hover {
    filter: hue-rotate();   
    }
    
    

.topnav {  
 float:left; 
 display: flex; 
 padding-right: 5%;  
}


.topnav a {
display:inherit;
text-align: center;
text-decoration:none;
padding: 10px;
color: #0991ff;
font-weight: normal;
font-size: 15px;
padding-top:30px;
font-weight: bold;    
}



.topnav a:hover {
    color: #d92727;
    opacity: 0.8;
}


@media screen and (max-width:1000px) {
    .header-class {
      max-height: px ;  
    }
    
    .topnav {  
     padding-right: 2%;
     padding-top: 20px;    
       }
    
    .topnav a {
      padding: 6px;    
    }
}


/*HEADER END*/
