/* HEADER */


/* BODY */

 body {
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(Images/login%20bg.jpg);
    margin: 0px;
}


/* LOGIN FORM TABLE */

form {
    
}


table {
    float: center;
    width: 60% ;
    /*background:rgba (211, 211, 211, 0.5);*/
    /*opacity: 0.5; */
    background-color: #ffb347;
    padding: 30px;
    padding-top:10px ;
    padding-bottom:10px ; 
}

.form-table {
    float: center;
    width: 60% ;
    min-width: 230px;
    /*background:rgba (211, 211, 211, 0.5);*/
    /*opacity: 0.5; */
    background-color: white;
    padding: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.15), 0 10px 43px 0 rgba(0,0,0,0.20);
    
}



tr, td {
   padding: 10px;
}


.form-input {
    width:90% ;
    min-width: ;
    padding:12px;
    border: none;
    border-radius: 12px;
    background: gainsboro;
}

.form-select {
    width: 93%;
    min-width:225px ;
    padding:11px;
    border: none;
    border-radius: 12px;
     background: gainsboro;
}

.h3-label {
    font-family:sans-serif;
    font-size: 18px;
    font-weight: normal;
    padding-left: 4%;
}

.login-label {
    color: dimgray;
    font-family: sans-serif;
    font-size:32px;
    padding-bottom: 0px;
}

.company-reg-form-container {
    padding-top: 150px;
    padding-bottom: 200px;
}


.display-inline-flex {
    display: block;
}

@media screen and (max-width:600px) {
  

}

.Register-company-button {
    border:none;
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #0991ff;
    width: 200px;
    
}

.Register-company-button:hover {
    background-color: #d92727;
}

.forgot-password {
  float:left;
  color:white;
  font-family:sans-serif;
  font-weight:bolder ;
  font-size:15px;
  text-decoration: none;
}

.forgot-password:hover {
    color: orange;
}

.back-to-home {  
  color: #0991ff;
  font-family:sans-serif;
  font-weight:bold;
  font-size:18px;
  text-decoration: none;
    }



.back-to-home:hover {
    color:#d92727;
}

.remember-me-ondevice {
    padding-top:10px;
    color: black;
    font-family:sans-serif;
    font-size:14px;
    font-weight:500;
    float: center;
}








/* FOOTER  */
.footer-table{
 background-color: transparent;
 border: none;
 border-radius: none;
 width: 1300px;
 padding: 1px;
 padding-top: none ;   
}

.footer-container {
    background-color: #ffb347;
    padding-top: none ;
    color: white;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 15px;
    overflow-x: auto;
    padding-left: 15px;
}

.footer-table-content {
    padding-bottom: none;
    align-items: flex-start;
    color: white;
    padding: 1px;
    position: relative;
}

.footer-table-row {
    position:;
    margin: 0 0 1rem 0;
}

.footer-table-content:before {
    padding-bottom: none;
    align-items: flex-start;
    color: white;
    padding: 1px;
    white-space: nowrap;
    position: absolute;
    top: 0;
    display: block;
}



/*FOOTER FLATICONS*/

 